<%- include('partials/header') %>
<h1>Welcome To Blogify</h1>
<p><%=homeContent %></p>
<h3>BLOGS</h3>
<% for(var i=0;i<posts.length;i++){ %>
    <h1><%=posts[i].title%></h1>
    <p><%=posts[i].body.slice(0,50)%>...<a href="/post/<%=posts[i].title%>">Read more</a></p>
    <%}%>
<%- include('partials/footer') %>